@model TravelBlog.Models.Person

<h4>
    Edit
</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list of people", "Index")</p>